<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.blog.mapper.MdInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.blog.entity.MdInfo">
        <id column="md_id" property="mdId" />
        <result column="md_title" property="mdTitle" />
        <result column="md_describe" property="mdDescribe" />
        <result column="md_url" property="mdUrl" />
        <result column="md_clicks" property="mdClicks" />
        <result column="md_tags" property="mdTags" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        md_id, md_title, md_describe, md_url, md_clicks, md_tags, created_time, updated_time
    </sql>

</mapper>
